<template>
	<tbody>
		<tr>
			<td><code>{{ name }}</code></td>
			<td>{{ label }}</td>
			<td><input type="text" :name="name" class="form-control form-control-sm text-center" value="1024" disabled v-model="result"></td>
			<td><div class="btn btn-success btn-block btn-sm" @click="setAll">wszystkie</div></td>
			<td><div class="btn btn-danger btn-block btn-sm" @click="setNone">żadne</div></td>
			<td><div class="btn btn-info btn-block btn-sm" @click="toggleDetails()">szczegóły</div></td>
		</tr>
		<tr class="table-sm" v-for="bit in bits" @click="toggleBit(bit)" v-if="detailsEnabled">
			<td colspan="2"></td>
			<td class="checkbox-column"><input type="checkbox" v-model="bit.checked"></td>
			<td colspan="3"><code>{{ bit.name }}</code> {{ bit.label }}</td>
		</tr>
	</tbody>
</template>

<script>
	export default {
		name: "BitForm",
		computed: {
			result: function() {
				let result = 0;

				for(let i = 0; i < this.bits.length; i++) {
					if(this.reverseLogic) {
						if(!this.bits[i].checked) {
							result += Math.pow(2, i)
						}
					} else {
						if(this.bits[i].checked) {
							result += Math.pow(2, i)
						}
					}
				}

				return result;
			}
		},
		data() {
			return {
				detailsEnabled: false
			}
		},
		props: {
			reverseLogic: { type: Boolean, default: false },
			bits: { type: Array, required: true },
			name: { type: String, required: true },
			label: { type: String, required: true },
		},
		methods: {
			setNone() {
				for(let bit of this.bits) {
					bit.checked = false
				}
			},
			setAll() {
				for(let bit of this.bits) {
					bit.checked = true
				}
			},
			toggleBit(bit) {
				bit.checked = !bit.checked
			},
			toggleDetails() {
				this.detailsEnabled = !this.detailsEnabled
			}
		}
	}
</script>

<style>
	.checkbox-column {
		text-align: center;
	}
</style>
