<template>
		<tr>
			<td><code>{{ name }}</code></td>
			<td>{{ label }}</td>
			<td><input type="text" :name="name" class="form-control form-control-sm text-center" value="1024" disabled v-model="result"></td>
			<td><div class="btn btn-success btn-block btn-sm" @click="setTrue">ustaw tak</div></td>
			<td><div class="btn btn-danger btn-block btn-sm" @click="setFalse">ustaw nie</div></td>
			<td><div class="btn btn-warning btn-block btn-sm" @click="toggleValue">przełącz</div></td>
		</tr>
</template>

<script>
	export default {
		name: "BoolForm",
		computed: {
			result: function() {
				return this.realResult !== null ? this.realResult : this.default;
			}
		},
		data() {
			return {
				realResult: null,
			}
		},
		props: {
			default: { type: Number, required: true, validator: function(x) { return x == 0 || x == 1 } },
			name: { type: String, required: true },
			label: { type: String, required: true },
		},
		methods: {
			setTrue() {
				this.realResult = 1
			},
			setFalse() {
				this.realResult = 0
			},
			toggleValue() {
				this.realResult = Math.abs(this.result - 1)
			},
		}
	}
</script>

<style scoped>
</style>
