<template>
		<tr>
			<td colspan="6" class="text-center">{{ label }}</td>
		</tr>
</template>

<script>
	export default {
		name: "Divider",
		props: {
			label: { type: String, required: true },
		},
	}
</script>

<style scoped>
</style>
