<template>
		<tr>
			<td><code>{{ name }}</code></td>
			<td>{{ label }}</td>
			<td><input type="text" :name="name" class="form-control form-control-sm text-center" value="1024" disabled v-model="result"></td>
			<td><div class="btn btn-success btn-block btn-sm" @click="increase">+{{ step }}</div></td>
			<td><div class="btn btn-danger btn-block btn-sm" @click="decrease">-{{ step }}</div></td>
			<td><div class="btn btn-warning btn-block btn-sm" @click="reset">resetuj</div></td>
		</tr>
</template>

<script>
	export default {
		name: "BoolForm",
		computed: {
			result: function() {
				return this.realResult !== null ? this.realResult : this.default;
			}
		},
		data() {
			return {
				realResult: null,
			}
		},
		props: {
			min: { type: Number, default: null },
			max: { type: Number, default: 1 },
			step: { type: Number, default: 1 },
			default: { type: Number, required: true },
			name: { type: String, required: true },
			label: { type: String, required: true },
		},
		methods: {
			increase() {
				this.realResult = this.result + this.step
			},
			decrease() {
				this.realResult = this.result - this.step
			},
			reset() {
				this.realResult = this.default
			},
		}
	}
</script>

<style scoped>
</style>
