<template>
	<tbody>
		<tr>
			<td><code>{{ name }}</code></td>
			<td>{{ label }}</td>
			<td><input type="text" :name="name" class="form-control form-control-sm text-center" value="1024" disabled v-model="result"></td>
			<td colspan="3"><div class="btn btn-info btn-block btn-sm" @click="toggleDetails()">szczegóły</div></td>
		</tr>
		<tr class="table-sm" v-for="bit in bits" @click="toggleBit(bit)" v-if="detailsEnabled">
			<td colspan="2"></td>
			<td class="checkbox-column"><input type="radio" :value="bit.value" v-model="result"></td>
			<td colspan="3">{{ bit.name }}</td>
		</tr>
	</tbody>
</template>

<script>
	export default {
		name: "BitForm",
		mounted() {
			for(let bit of this.bits) {
				if(bit.checked) {
					this.result = bit.value
				}
			}
		},
		data() {
			return {
				result: 0,
				detailsEnabled: false
			}
		},
		props: {
			bits: { type: Array, required: true },
			name: { type: String, required: true },
			label: { type: String, required: true },
		},
		methods: {
			toggleBit(bit) {
				this.result = bit.value
			},
			toggleDetails() {
				this.detailsEnabled = !this.detailsEnabled
			}
		},
		watch: {
			result: function(result) {
				if(this.name === "seta g_gametype") {
					this.$parent.gameType = result
				}
			},
			bits: function() {
				for(let bit of this.bits) {
					if(bit.checked) {
						this.result = bit.value
					}
				}
			}
		}
	}
</script>

<style>
	.checkbox-column {
		text-align: center;
	}
</style>
