<template>
		<tr>
			<td><code>{{ name }}</code></td>
			<td>{{ label }}</td>
			<td><input type="text" :name="name" class="form-control form-control-sm text-center" value="1024" v-model="result"></td>
			<td colspan="3"><div class="btn btn-danger btn-block btn-sm" @click="clear">czyść pole</div></td>
		</tr>
</template>

<script>
	export default {
		name: "TextForm",
		computed: {
			result: function() {
				return this.realResult !== null ? this.realResult : this.default;
			}
		},
		data() {
			return {
				realResult: null,
			}
		},
		props: {
			default: { type: String, required: true },
			name: { type: String, required: true },
			label: { type: String, required: true },
		},
		methods: {
			clear() {
				this.realResult = ""
			},
		}
	}
</script>

<style scoped>
</style>
