<template>
	<div id="app" class="container">
		<h2><code>Star Wars Jedi Knight: Jedi Academy</code></h2>
		<h2><code>server.cfg</code></h2>

		<form id="server-cfg">
			<table class="table">
				<divider label="ustawienia serwera"></divider>
				<text-form default="ITM" name="seta sv_hostname" label="nazwa serwera"></text-form>
				<text-form default="Hello there." name="seta g_motd" label="powitanie"></text-form>
				<bool-form :default="1" name="seta g_needpas" label="ustawić hasło do serwera?"></bool-form>
				<text-form default="" name="seta g_password" label="hasło do serwera"></text-form>
				<text-form default="" name="seta rconpassword" label="hasło administratora"></text-form>
				<number-form :default="16" name="seta sv_maxclients" label="maksymalna liczba klientów"></number-form>
				<number-form :default="25000" :step="1000" name="seta sv_maxrate" label="prędkość połączenia przez liczbę klientów"></number-form>
				<number-form :default="10" :step="10" name="seta jp_startMapVoteTimer" label="czas blokady na głosowanie"></number-form>
				<bit-form :bits="votes" name="seta g_allowVote" label="lista dostępnych opcji głosowania" :reverseLogic="false"></bit-form>
				<number-form :default="0" name="seta bot_minplayers" label="liczba botów"></number-form>
				<number-form :default="50" :step="10" name="seta jp_maxConnFromIP" label="liczba graczy z tego samego IP"></number-form>
				<bool-form :default="1" name="seta sv_allowdownload" label="pozwolenie na pobieranie?"></bool-form>

				<divider label="broń i Moc"></divider>
				<bit-form :bits="forcePowers" name="seta g_forcePowerDisable" label="lista dostępnych technik Mocy" :reverseLogic="true"></bit-form>
				<bit-form :bits="weapons" name="seta g_weaponDisable" label="lista dostępnych broni" :reverseLogic="true"></bit-form>
				<bit-form :bits="duelWeapons" name="seta g_duelWeaponDisable" label="lista dostępnych broni w pojedynku" :reverseLogic="true"></bit-form>
				<number-form :default="7" name="seta g_maxForceRank" label="poziom Mocy"></number-form>
				<number-form :default="50" :step="10" name="seta g_forceRegenTime" label="szybkość odzyskiwania Mocy"></number-form>
				<number-form :default="50" :step="10" name="seta jp_privateDuelForceRegen" label="szybkość odzyskiwania Mocy w pojedynku"></number-form>

				<divider label="rozgrywka"></divider>
				<radio-form :bits="gameTypes" name="seta g_gametype" label="początkowy tryb gry" v-model="gameType" ref="gameType"></radio-form>
				<radio-form :bits="maps" name="map" label="mapa"></radio-form>
				<bool-form :default="0" name="seta g_teamAutoJoin" label="automatyczny wybór drużyny?"></bool-form>
				<bool-form :default="1" name="seta g_autoMapCycle" label="automatyczna zmiana mapy?"></bool-form>
				<bool-form :default="0" name="seta g_friendlyfire" label="bratobójczy ogień?"></bool-form>
				<bool-form :default="0" name="seta g_friendlySaber" label="bratobójczy miecz?"></bool-form>
				<number-form :default="45" :step="5" name="seta timelimit" label="limit czasu w grze [min]"></number-form>
				<number-form :default="0" name="seta fraglimit" label="limit punktów w grze"></number-form>
				<number-form :default="10" name="seta capturelimit" label="limit przechwyceń w grze"></number-form>
				<number-form :default="1" name="seta duel_fraglimit" label="liczba walk na pojedynek"></number-form>
				<bool-form :default="1" name="seta g_slowmoDuelEnd" label="zwolnienie na koniec pojedynku?"></bool-form>
				<bool-form :default="1" name="seta g_allowDuelSuicide" label="samobóje w pojedynkach?"></bool-form>
				<bool-form :default="0" name="seta g_siegeTeamSwitch" label="przełączanie drużyn w oblężeniu?"></bool-form>
				<bool-form :default="0" name="seta g_allowNPC" label="NPC?"></bool-form>
				<number-form :default="100" :step="10" :min="0" :max="100" name="seta g_dismember" label="wskaźnik rozczłonkowania"></number-form>
				<number-form :default="2" :min="0" :max="2" name="seta cg_dismember" label="poziom rozczłonkowania"></number-form>
				<bool-form :default="1" name="seta broadsword" label="realistyczne ciała?"></bool-form>
			</table>
			<div class="btn btn-block btn-success" @click="generateFile()">wygeneruj plik</div>
		</form>

		<pre v-highlightjs="serverCfg" v-if="serverCfg.length"><code class="js"></code></pre>
	</div>
</template>

<script>
	import Divider from "./components/Divider"

	import BitForm from "./components/BitForm"
	import BoolForm from "./components/BoolForm"
	import NumberForm from "./components/NumberForm"
	import RadioForm from "./components/RadioForm"
	import TextForm from "./components/TextForm"

	export default {
		name: "app",
		components: {
			Divider,
			BitForm,
			BoolForm,
			NumberForm,
			RadioForm,
			TextForm,
		},
		computed: {
			maps: function() {
				switch(this.gameType) {
					case 3:
					case 4:
						return [
							{ name: "Bespin Courtyard", value: "mp/duel1", checked: false },
							{ name: "Generator Room", value: "mp/duel2", checked: false },
							{ name: "Imperial Shaft", value: "mp/duel3", checked: false },
							{ name: "Imperial Control Room", value: "mp/duel4", checked: false },
							{ name: "Taspir Landing", value: "mp/duel5", checked: false },
							{ name: "Yavin Trainings Grounds", value: "mp/duel6", checked: false },
							{ name: "Rancor Pit", value: "mp/duel7", checked: false },
							{ name: "Abandoned City", value: "mp/duel8", checked: false },
							{ name: "Hoth Canyon", value: "mp/duel9", checked: false },
							{ name: "Vjun Fuel Processing", value: "mp/duel10", checked: true },
						]
					case 5:
						return [
							{ name: "Korriban Valley", value: "mp/siege_korriban", checked: false },
							{ name: "Hoth Attack", value: "mp/siege_hoth", checked: false },
							{ name: "Desert Rescue", value: "mp/siege_desert", checked: true },
							{ name: "Star Destroyer ", value: "mp/siege_destroyer", checked: false },
						]
					case 6:
						return [
							{ name: "Imperial Drop Zone", value: "mp/ctf1", checked: false },
							{ name: "Hoth Wasteland", value: "mp/ctf2", checked: false },
							{ name: "Yavin Hilltops", value: "mp/ctf3", checked: true },
							{ name: "Coruscant Streets", value: "mp/ctf4", checked: false },
							{ name: "Factury", value: "mp/ctf5", checked: false },
							{ name: "Rift of Shadows", value: "mp/ctf_bonus1", checked: false },
						]
					case 0:
					case 5:
					default:
						return [
							{ name: "Vjun Sentinel", value: "mp/ffa1", checked: true },
							{ name: "Korriban Tombs", value: "mp/ffa2", checked: false },
							{ name: "Tatooine City", value: "mp/ffa3", checked: false },
							{ name: "Rift Sancuary", value: "mp/ffa4", checked: false },
							{ name: "Taspir", value: "mp/ffa5", checked: false },
							{ name: "Gas Mine", value: "mp/ffa_bonus1", checked: false },
							{ name: "The Fortress", value: "mp/ffa_bonus2", checked: false },
							{ name: "Conquest of Byss", value: "mp/ffa_bonus3", checked: false },
							{ name: "Ord Mantell Canyon ", value: "mp/ffa_bonus4", checked: false },
						]
				}
			}
		},
		data() {
			return {
				serverCfg: "",
				forcePowers: [
					{ name: "FP_HEAL", label: "uzdrawienie", checked: false },
					{ name: "FP_LEVITATION", label: "lewitacja", checked: false },
					{ name: "FP_SPEED", label: "szybkość", checked: false },
					{ name: "FP_PUSH", label: "pchnięcie", checked: false },
					{ name: "FP_PULL", label: "przyciągnięcie", checked: false },
					{ name: "FP_TELEPATHY", label: "telepatia", checked: false },
					{ name: "FP_GRIP", label: "duszenie", checked: false },
					{ name: "FP_LIGHTNING", label: "błyskawice", checked: false },
					{ name: "FP_RAGE", label: "wściekłość", checked: false },
					{ name: "FP_PROTECT", label: "ochrona", checked: false },
					{ name: "FP_ABSORB", label: "absorpcja", checked: false },
					{ name: "FP_TEAM_HEAL", label: "uzdrawienie zespołowe", checked: false },
					{ name: "FP_TEAM_FORCE", label: "doładowanie zespołowo", checked: false },
					{ name: "FP_DRAIN", label: "wysuszanie", checked: false },
					{ name: "FP_SEE", label: "widzenie", checked: false },
					{ name: "FP_SABER_OFFENSE", label: "atak mieczem", checked: true },
					{ name: "FP_SABER_DEFENSE", label: "obrona mieczem", checked: true },
					{ name: "FP_SABERTHROW", label: "rzut mieczem", checked: true },
				],
				weapons: [
					{ name: "WP_NONE", label: "nic", checked: false },
					{ name: "WP_STUN_BATON", label: "paralizator", checked: false },
					{ name: "WP_MELEE", label: "pięści", checked: true },
					{ name: "WP_SABER", label: "miecz świetlny", checked: true },
					{ name: "WP_BRYAR_PISTOL", label: "pistolet blasterowy Bryar", checked: false },
					{ name: "WP_BLASTER", label: "imperialny blaster E-11", checked: false },
					{ name: "WP_DISRUPTOR", label: "karabin wyborowy DXR-6", checked: false },
					{ name: "WP_BOWCASTER", label: "kusza Wookieech", checked: false },
					{ name: "WP_REPEATER", label: "karabin IHR Slugthrower", checked: false },
					{ name: "WP_DEMP2", label: "jonowy karabin Merr-Sonn DEMP 2", checked: false },
					{ name: "WP_FLECHETTE", label: "odłamkowy Golan Arms FC-1", checked: false },
					{ name: "WP_ROCKET_LAUNCHER", label: "wyrzutnia PLX-2M", checked: false },
					{ name: "WP_THERMAL", label: "termodetonator klasy A", checked: false },
					{ name: "WP_TRIP_MINE", label: "mina laserowa", checked: false },
					{ name: "WP_DET_PACK", label: "ładunek wybuchowy", checked: false },
					{ name: "WP_CONCUSSION", label: "karabin uderzeniowy Stouker", checked: false },
					{ name: "WP_BRYAR_OLD", label: "stary pistolet blasterowy Bryar", checked: false },
					{ name: "WP_EMPLACED_GUN", label: "nieruchome działko", checked: false },
					{ name: "WP_TURRET", label: "działko", checked: false },
				],
				duelWeapons: [
					{ name: "WP_NONE", label: "nic", checked: false },
					{ name: "WP_STUN_BATON", label: "paralizator", checked: false },
					{ name: "WP_MELEE", label: "pięści", checked: false },
					{ name: "WP_SABER", label: "miecz świetlny", checked: true },
					{ name: "WP_BRYAR_PISTOL", label: "pistolet blasterowy Bryar", checked: false },
					{ name: "WP_BLASTER", label: "imperialny blaster E-11", checked: false },
					{ name: "WP_DISRUPTOR", label: "karabin wyborowy DXR-6", checked: false },
					{ name: "WP_BOWCASTER", label: "kusza Wookieech", checked: false },
					{ name: "WP_REPEATER", label: "karabin IHR Slugthrower", checked: false },
					{ name: "WP_DEMP2", label: "jonowy karabin Merr-Sonn DEMP 2", checked: false },
					{ name: "WP_FLECHETTE", label: "odłamkowy Golan Arms FC-1", checked: false },
					{ name: "WP_ROCKET_LAUNCHER", label: "wyrzutnia PLX-2M", checked: false },
					{ name: "WP_THERMAL", label: "termodetonator klasy A", checked: false },
					{ name: "WP_TRIP_MINE", label: "mina laserowa", checked: false },
					{ name: "WP_DET_PACK", label: "ładunek wybuchowy", checked: false },
					{ name: "WP_CONCUSSION", label: "karabin uderzeniowy Stouker", checked: false },
					{ name: "WP_BRYAR_OLD", label: "stary pistolet blasterowy Bryar", checked: false },
					{ name: "WP_EMPLACED_GUN", label: "nieruchome działko", checked: false },
					{ name: "WP_TURRET", label: "działko", checked: false },
				],
				votes: [
					{ name: "allready", label: "", checked: true },
					{ name: "capturelimit", label: "", checked: true },
					{ name: "clientkick", label: "", checked: true },
					{ name: "cointoss", label: "", checked: true },
					{ name: "fraglimit", label: "", checked: true },
					{ name: "g_gametype", label: "", checked: true },
					{ name: "japp_instagib", label: "", checked: true },
					{ name: "japp_promode", label: "", checked: true },
					{ name: "japp_shootFromEye", label: "", checked: true },
					{ name: "japp_speedCaps", label: "", checked: true },
					{ name: "japp_suicideDropFlag", label: "", checked: true },
					{ name: "kick", label: "", checked: true },
					{ name: "map", label: "", checked: true },
					{ name: "map_restart", label: "", checked: true },
					{ name: "nextmap", label: "", checked: true },
					{ name: "pause", label: "", checked: true },
					{ name: "shuffle", label: "", checked: true },
					{ name: "timelimit", label: "", checked: true },
					{ name: "warmup", label: "", checked: true },
				],
				gameType: null,
				gameTypes: [
					{ name: "Free For All", value: 0, checked: true },
					{ name: "Duel", value: 3, checked: false },
					{ name: "Power Duel", value: 4, checked: false },
					{ name: "Team Free For All", value: 6, checked: false },
					{ name: "Siege", value: 7, checked: false },
					{ name: "Capture The Flag", value: 8, checked: false },
				]
			}
		},
		methods: {
			generateFile() {
				this.serverCfg = ""
				let config = ""

				for(let result of document.querySelectorAll("input[type='text']")) {
					if(/^\d+$/.test(result.value)) {
						config += result.name + " " + result.value + "\n"
					} else {
						config += result.name + " \"" + result.value + "\"\n"
					}
				}

				this.serverCfg = config
			}
		},
	}
</script>

<style>
	#app {
		margin: 3em auto;
	}

	table {
		margin: 3em 0px !important;
	}

	.table tbody + tbody {
	    border-top: 1px solid #eceeef;
	}

	#server-cfg .btn {
		cursor: pointer;
	}

	pre {
		margin-top: 3em;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;
		background: #282a36;
	}

	.hljs-built_in,
	.hljs-selector-tag,
	.hljs-section,
	.hljs-link {
		color: #8be9fd;
	}

	.hljs-keyword {
		color: #ff79c6;
	}

	.hljs,
	.hljs-subst {
		color: #f8f8f2;
	}

	.hljs-title {
		color: #50fa7b;
	}

	.hljs-string,
	.hljs-meta,
	.hljs-name,
	.hljs-type,
	.hljs-attr,
	.hljs-symbol,
	.hljs-bullet,
	.hljs-addition,
	.hljs-variable,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #f1fa8c;
	}

	.hljs-comment,
	.hljs-quote,
	.hljs-deletion {
		color: #6272a4;
	}

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-literal,
	.hljs-title,
	.hljs-section,
	.hljs-doctag,
	.hljs-type,
	.hljs-name,
	.hljs-strong {
		font-weight: bold;
	}

	.hljs-literal,
	.hljs-number {
		color: #bd93f9;
	}

	.hljs-emphasis {
		font-style: italic;
	}
</style>
